@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-y: hidden;
}
html,body{
  overflow-x:hidden;
}
@layer components{
  .line{
    @apply block w-[20px] h-[2px] bg-[#8a8888] transition-all duration-300 ease-in;
  }
  .dropdown-text{
    @apply lg:h-[3.5rem] flex items-center pl-1 opacity-70 hover:opacity-100 hover:underline transition-all duration-300 ease-out;
  }
  .cart-btn{
    @apply bg-[#242424] text-white px-2 rounded-[4px] text-[1.1rem] hover:opacity-50;
  }
  .addto-cart{
    @apply px-8 py-3 bg-[#0808de] hover:bg-[#ff3341] transition-all 
    duration-300 ease-in  text-white disabled:opacity-50 disabled:cursor-not-allowed;
  }
}
@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
}


.active .line:nth-child(1){
  transform: translateY(4px) rotate(45deg);
 
}
.active .line:nth-child(2){
  transform: translateY(-4px) rotate(-45deg);
}